
<div class="ann" style="top:{{top}}px;left:{{left}}px;">
  <div class="ann-border" style="width:{{width}}px;height:{{height}}px;"></div>
  <div class="ann-overlay" style="left:{{leftOffset|default('0px;')}};">
    {{overlayContent}}
  </div>
</div>
